<!--<div *ngIf="enabled else disabled">
  <h2>{{ title() }}</h2>
</div>

<ng-template #disabled>
  <div>Lo sentimos, esta función no está disponible</div>
</ng-template>
<button (click)="toggleEnabled()">{{enabled ? 'Ocultar' : 'Mostrar'}}</button>>

<ul *ngIf="enabled">
  <li *ngFor="let course of courses">{{course}}</li>
</ul>
-->
<!--
@if (enabled){
<h2>{{ title() }}</h2>
<ul>
  @for (course of courses; track $index){
  <li>{{course}}</li>
  }
</ul>

}@else{
<div>Lo sentimos, esta función no está disponible</div>
}

<button (click)="toggleEnabled()">{{enabled ? 'Ocultar' : 'Mostrar'}}</button>
-->

<app-product></app-product>
